#first-section, #second-section, #third-section {
    /* 얘 알기 쉽게 border 가시화한 거라 나중에 지워야 함! */
    width: 100%;
    margin-top : 10px;
    margin-bottom: 10px;
    box-sizing: border-box; /* padding과 border를 포함한 요소의 크기 조정 */
}

#first-section {
    background-color: #F6F6F6;
    height: 100px;
    position: relative; /* 부모 요소에 position: relative; 추가 */
}


/* 여기부터 수정 필요! */


#first-section .logo-img {
    width: 70px;
    height: 70px;
    position: absolute; 
    /* .section-wrap이 부모 요소 중 가장 가까운 relative 속성이니, 해당 클래스를 기준으로 포지션이 적용된다.*/
    left: 5%;
    top: 15%;

}

#first-section .section1-wrap li:nth-of-type(2){
    color: orange;
    font-size: 12px;
    position:absolute;
    
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    
}

#first-section .section1-wrap button {
    border-radius: 41px;
    padding: 5px 10px; /* 버튼의 패딩을 위아래로 5px, 좌우로 10px로 설정 */
    font-size: 12px;
    border-width: 0;
    background-color: orange;
    color: white;

    position: absolute;
    top: 30%;
    right: 5%;

}
