div#container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 500px;
    height: auto;
}

div.todo-list-title {
    background-color: #0d6373;
    color:#ffffff;
    padding: 15px;
    text-align: center;
}

input#todo-input {
    margin-top : 20px;
    margin-left: 10px;
    width: 400px;
    border: none; 
}

button {
    background-color: #0d6373;
    color: #ffffff;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left : 30px;
    border-radius: 20%;
}

div.todo-list-input {
    padding-bottom: 10px;
    border-bottom : 1px solid #0d6373;
}

.done {
    text-decoration: line-through;
    color: #888;
}

.undone {
    text-decoration: none;
    color: #000000;
}

ul {
    /* border: 1px solid blue; */
    padding: 5px;

}

li {
    /* border: 1px solid red; */
    font-size: 12px;
    list-style-type: none;
    margin-bottom: 10px;
    position: relative; /* 상대 위치 설정 */
}

.delete-button {
    position: absolute; /* 절대 위치 설정 */

    right: 5%;
    font-size: 8px;
    background-color: #ff3333;
    border: none;
    color: #ffffff;
    padding: 2px;
    cursor: pointer; /* 포인트 커서 설정 */

}