<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 목록 조회</title>
</head>
<body>
    <h1>Board List</h1>

    <table th:if="${not #lists.isEmpty(boards)}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Title</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards}">
            <td th:text="${board.id}">ID</td>
            <td th:text="${board.name}">Name</td>
            <td>
                <a th:href="@{/view(id=${board.id})}"  th:text="${board.title}"></a>
            </td>
            <td th:text="${#temporals.format(board.created_at, 'yyyy/MM/dd')}">Created At</td>
        </tr>
        </tbody>
    </table>


    <!-- 페이징처리 -->
    <div th:if="${boards.totalPages > 1}">
        <ul style="display: flex; list-style:none; padding-left:0;">
            <li th:each="i : ${#numbers.sequence(1, boards.totalPages)}" style="margin-right : 10px">
                <a th:href="@{/list(page=${i})}" th:text="${i}"></a>
            </li>
        </ul>
    </div>

    <a th:href="@{/writeform}">글쓰기</a>
</body>
</html>